apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  namespace: {{ namespace }}
type: Opaque
stringData:
{%- for key, value in sensitive_data.items() %}
  {{ key }}: {{ value | tojson }}
{%- endfor %}
